.Button {
    background-color: #4285D3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    line-height: 28px;
    font-size: 16px;
    background-image: linear-gradient(to bottom,#5595D9 0%, #4285D3 100%);
}

.Button:hover {
    background-color: #5595D9;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}