.SiteHeader{
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
}

.SiteHeader a{
    color: #DCDCDC;
    display: inline-block;
    text-decoration: none;
    margin-inline-end: 80px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    position: relative;
    z-index: 1;
    background: no-repeat;
    white-space: nowrap;
}

.SiteHeader a:hover{
    color: #ffffff;
}