.login {
    width: 30%;
    margin: 80px 150px;
    padding: 20px;
    display: block;
}

header {
    display: block;
}

input[type=text], input[type=password],select {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #3396E5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #409EE9;
}

img{
    display:block;
    margin: auto;
    width: 20%;
}

a{
    color: #3396E5;
    display: block;
    text-decoration: none;
    margin: 10px auto;
}

a:hover {
    text-decoration: underline;
  }
